.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    background-color: #090A0B;
    justify-content: center;
    z-index: 10;
    align-items: center;
}

.loader > span{
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    border: 6px solid #fff;
    animation: loader 2s infinite ease;
    background-color: #090A0B;
}

.loader > span > span {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}