@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    background-color: black;
    color: #74FECB;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 50px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: blanchedalmond solid 2px; */
}

header div:first-child {
    font-weight: bold;
    align-self: center;
    flex-grow: 3;
    margin-left: 2%;
}

header nav {
    flex-grow: 1;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

header nav a {
    color: #74FECB;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
    padding: 15px 0;
}

header nav a:after {
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: #74FECB;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

header nav a:hover:after {
    width: 100%;
    left: 0;
}

header div:last-child {
    flex-grow: 3;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin-right: 2%;
}

#first, #seconde {
    height: calc(50vh - 70px);
    display: flex;
    justify-content: space-evenly;
}

#seconde {
    height: 50vh;
}

#first>div, #seconde>div {
    align-self: center;
    max-width: 40%;
    max-height: 100%;
}

#first div:first-child, #seconde div:last-child {
    flex-direction: column;
    flex-wrap: wrap;
}

#first div:first-child h1, #seconde div:last-child h1 {
    font-size: 2.3em;
}

#first div:first-child p, #seconde div:last-child p {
    line-height: 1.5em;
    color: #175676;
}

#first div:first-child div, #seconde div:last-child div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

#first div:first-child div a, #seconde div:last-child div a {
    margin-right: 20px;
}

#first div:nth-child(2) img, #seconde div:nth-child(2) img {
    max-width: 70%;
}

.button {
    background-color: #74FECB;
    border-radius: 10px;
    border: #74FECB 1px solid;
    padding: 10px 25px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.button:hover {
    color: #74FECB;
    background-color: black;
    border-color: #74FECB;
}

.greybutton {
    background-color: #18332A;
    border-radius: 10px;
    border: #18332A 1px solid;
    padding: 10px 25px;
    text-decoration: none;
    color: #74FECB;
    transition: 0.3s;
}

.greybutton:hover {
    background-color: black;
    border-color: #18332A;
}
