<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untimate 12 (v1.2)</title>
    <link rel="shortcut icon" href="12.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section id="linkSection">
        <h1>Le pouvoir du PREMIUM</h1>
        <form>
            <label for="linkInput">Lien : </label>
            <input type="text" id="linkInput" name="linkInput">
            <button class="buttons" id="submitlink">➜ 12</button>
        </form>
    </section>
    <section id="downloadSection">
        <h2>Téléchargement :</h2>
        <div id="downloadList">
            <div>{{ Message }}</div>
            <div v-if="LinkReceived" class="buttonsList">
                <a class="buttons" :href="Link" id="resultat">Télécharger</a>
                <button onclick="copyLink()" class="buttons bcopy" id="copy">{{ CopyButton }}</button>
            </div>
        </div>
    </section>
    <section id="streamingList">
        <h2>Streaming :</h2>
        <div>
            <label for="streamqual"> {{ Message }}</label>
            <select v-if="StreamReceived" v-for="quality in QualitysList" id="streamqual" name="streamqual">
                <option v-for="id in quality" :value="id.id">{{ id.id }}</option>
            </select>
            <button v-if="StreamReceived" v-on:click="getLink" class="buttons" id="submitstream">➜ 12</button>
        </div>
        <video v-if="VisiblePlayer" id="my-video" class="video-js" controls preload="auto" data-setup='{"autoplay": true}' autoplay>
            <source :src="LinkClear" type="video/mp4" />
            <p class="vjs-no-js">
                JavaScript non détecter : activer le ou changer/mettez à jour votre navigateur.
            </p>
        </video>
    </section>
    <section id="changelogSection">
        <h2>Changelog :</h2>
        <ul>
            <li>v 1 :
                <ul>
                    <li>Init release</li>
                </ul>
            </li>
            <li>v 1.1 :
                <ul>
                    <li>Add changelog</li>
                    <li>Add Copy button</li>
                    <li>Small interface update</li>
                </ul>
            </li>
            <li>v 1.2 :
                <ul>
                    <li>Creation of a dynamic interface</li>
                    <li>Performance improvement</li>
                </ul>
            </li>
            <li>v 1.3 :
                <ul>
                    <li>Add mobile version</li>
                </ul>
            </li>
            <li>v 2 :
                <ul>
                    <li>Add streaming</li>
                    <li>Interface update</li>
                    <li>Lost mobile interface</li>
                </ul>
            </li>
        </ul>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script src="main.js"></script>
</body>

</html>