@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
html {
    background-color: #232323;
    font-family: 'Pattaya', sans-serif;
    color: wheat;
}

h1, h2, h3, h4, h5 {
    color: #BFC20A
}

body {
    padding: 2.5vh 2.5vw;
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 45vw;
    margin-bottom: 15px;
}

#videoplayer {
    width: 100%;
}

#submitstream {
    margin-bottom: 10px;
}

#linkSection .form, #streamingList .form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#linkSection .form>*, #streamingList .form>* {
    margin-top: 10px;
}

#downloadList {
    width: 40%;
}

#downloadList div:first-child {
    margin-bottom: 10px;
}

#videoplayerid {
    width: 100%;
    height: auto;
    display: table;
}

#changelogSection ul {
    margin-bottom: 15px;
}

.buttonsList {
    display: flex;
    justify-content: space-between;
}

.buttonsList>* {
    width: 40%;
}

.buttons {
    background-color: #6AB482;
    text-decoration: none;
    padding: 5px 8px;
    color: black;
    transition: 0.2s;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcopy {
    background-color: #8F754F;
}

.buttons:hover {
    cursor: pointer;
    background-color: #92D5E6;
}

.video-js {
    color: #BFC20A !important;
}

.video-js .vjs-tech {
    position: inherit !important;
    display: table-row;
}

.vjs-menu li {
    color: white;
}

.vjs-theme-forest {
    --vjs-theme-forest--primary: #fff !important;
    --vjs-theme-forest--secondary: #BFC20A !important;
}

.vjs-progress-control:hover {
    font-size: 2em !important;
}

@media only screen and (max-width: 711px) {
    section {
        width: 95vw;
    }
    #linkSection form, #streamingList .form {
        width: 100%;
    }
    #downloadList {
        width: 100%;
    }
}


/* .vjs-theme-forest .vjs-control-bar {
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
    background-color: rgba(38, 38, 38, 0.9);
    width: auto;
    height: 6em;
} */

