@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
html {
    background-color: #232323;
    font-family: 'Pattaya', sans-serif;
    color: #BFC20A;
}

body {
    padding: 2.5vh 2.5vw;
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 45vw;
    margin-bottom: 15px;
}

#videoplayer {
    width: 100%;
}

#changelogSection ul, #linkSection div:last-child, #streamingList label, #downloadList div:first-child {
    color: wheat;
}

#linkSection .form, #streamingList .form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#linkSection .form>*, #streamingList .form>* {
    margin-top: 10px;
}

#downloadList {
    width: 40%;
}

#downloadList div:first-child {
    margin-bottom: 10px;
}

#videoplayerid {
    width: 100%;
}

.buttonsList {
    display: flex;
    justify-content: space-between;
}

.buttonsList>* {
    width: 40%;
}

.buttons {
    background-color: #6AB482;
    text-decoration: none;
    padding: 5px 8px;
    color: black;
    transition: 0.2s;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcopy {
    background-color: #8F754F;
}

.buttons:hover {
    cursor: pointer;
    background-color: #92D5E6;
}

@media only screen and (max-width: 711px) {
    section {
        width: 95vw;
    }
    #linkSection form, #streamingList .form {
        width: 100%;
    }
    #downloadList {
        width: 100%;
    }
}