@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
html {
    background-color: #232323;
    font-family: 'Pattaya', sans-serif;
    color: #BFC20A;
}

body {
    padding: 2.5vh 2.5vw;
    display: flex;
}

section {
    width: 45vw;
    margin-bottom: 15px;
}

video {
    width: 100% !important;
    height: unset !important;
}

#changelogSection ul {
    color: wheat;
}

#linkSection form, #streamingList div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#linkSection form>*, #streamingList div>* {
    margin-top: 10px;
}

#downloadList {
    width: 40%;
}

#streamingList label {
    color: wheat;
}

#downloadList div:first-child {
    margin-bottom: 10px;
    color: wheat;
}

.buttonsList {
    display: flex;
    justify-content: space-between;
}

.buttonsList>* {
    width: 40%;
}

.buttons {
    background-color: #6AB482;
    text-decoration: none;
    padding: 5px 8px;
    color: black;
    transition: 0.2s;
    border-radius: 3px;
    border: none;
    text-align: center;
}

.bcopy {
    background-color: #8F754F;
}

.buttons:hover {
    cursor: pointer;
    background-color: #92D5E6;
}

@media only screen and (max-width: 711px) {}